<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>autohide-delay</key>
	<real>0.0</real>
	<key>autohide-time-modifier</key>
	<integer>0</integer>
	<key>expose-group-apps</key>
	<false/>
	<key>largesize</key>
	<real>16</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>787761914.81702495</real>
	</array>
	<key>last-messagetrace-stamp</key>
	<real>693780995.20497501</real>
	<key>lastShowIndicatorTime</key>
	<real>759535216.53353298</real>
	<key>launchanim</key>
	<true/>
	<key>loc</key>
	<string>en_US:US</string>
	<key>magnification</key>
	<false/>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>21522</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>bottom</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3577812379</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va4ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAAU3BvdGlmeS5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAhNHaDwAAAAAIAAAABAMAAGvhLRAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcd4Q/uA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHWNHA
				AAAAJAAAAAEBAAAwNTc3RTUxRS0yRTQyLTRDMDMtQTFD
				RC1GRUM4MDM1OTJFRUMYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				LwAAAAEBAABOU1VSTEJvb2ttYXJrUXVhcmFudGluZU1v
				dW50ZWROZXR3b3JrVm9sdW1lc0tleQC0AAAA/v///wEA
				AAAAAAAADgAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAA
				ABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAA
				AAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADs
				AAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAg
				AAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAA
				AEwBAIBEAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.spotify.client</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Spotify.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spotify</string>
				<key>file-mod-date</key>
				<integer>3848667383</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>6184307154023</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1386293681</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ
				AAAA////DwgAAAAEAwAABSAAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcbjmoUAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAFChG3MAAAAkAAAAAQEAADA1NzdFNTFFLTJFNDIt
				NEMwMy1BMUNELUZFQzgwMzU5MkVFQxgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.MobileSMS</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>3829181962</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3829181962</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>71189576</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAATGVnY29yZC5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAhNHaDwAAAAAIAAAABAMAAEiAXQ0A
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcbyiJAA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHWNHA
				AAAAJAAAAAEBAAAwNTc3RTUxRS0yRTQyLTRDMDMtQTFD
				RC1GRUM4MDM1OTJFRUMYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>app.legcord.Legcord</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Legcord.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Legcord</string>
				<key>file-mod-date</key>
				<integer>3831138848</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>13709088518604</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>696928017</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAAFwAAAP///w8IAAAABAMAABkAAAD/
				//8PCAAAAAQDAACTGwAA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBx0KQYgAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
				UKEbcwAAACQAAAABAQAAMDU3N0U1MUUtMkU0Mi00QzAz
				LUExQ0QtRkVDODAzNTkyRUVDGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEQAAAAA
				AAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAA
				ANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Mail</string>
				<key>file-mod-date</key>
				<integer>3841628612</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3841628612</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4285855757</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABHaG9zdHR5
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAfEowO
				AAAAAAgAAAAEAwAAET8CDAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxsjQIZjlnRgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
				cwAAAAgAAAAABAAAQcc4BdKAAAAkAAAAAQEAADA1NzdF
				NTFFLTJFNDItNEMwMy1BMUNELUZFQzgwMzU5MkVFQxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.mitchellh.ghostty</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Ghostty.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Ghostty</string>
				<key>file-mod-date</key>
				<integer>107914879461826</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>75960334172002</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4285049611</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwg
				U3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAAB/tkAOAAAAAAgAAAAEAwAAR1tADgAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxyscyQAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQccohIaAAAAk
				AAAAAQEAADA1NzdFNTFFLTJFNDItNEMwMy1BMUNELUZF
				QzgwMzU5MkVFQxgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.VSCode</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Visual%20Studio%20Code.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Visual Studio Code</string>
				<key>file-mod-date</key>
				<integer>3832500260</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>35918350013861</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2221712358</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxEAAAABAQAAR29vZ2xlIENocm9tZS5hcHAAAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAACE0doPAAAAAAgAAAAE
				AwAA1HoYAAAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABBvzFQfAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAA
				BAAAQcdY0cAAAAAkAAAAAQEAADA1NzdFNTFFLTJFNDIt
				NEMwMy1BMUNELUZFQzgwMzU5MkVFQxgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
				AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQ
				AACAAAAAAAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAA
				ABAgAADAAAAAAAAAABEgAAD0AAAAAAAAABIgAADUAAAA
				AAAAABMgAADkAAAAAAAAACAgAAAgAQAAAAAAADAgAABM
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>239727398279987</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>41643556791857</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va4gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxMAAAABAQAATm90aW9uIENhbGVuZGFyLmFwcAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAACE0doPAAAAAAgAAAAE
				AwAAuUomEAAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABBx0oqZIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAA
				BAAAQcdY0cAAAAAkAAAAAQEAADA1NzdFNTFFLTJFNDIt
				NEMwMy1BMUNELUZFQzgwMzU5MkVFQxgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAAAvAAAAAQEAAE5TVVJMQm9va21hcmtRdWFy
				YW50aW5lTW91bnRlZE5ldHdvcmtWb2x1bWVzS2V5ALQA
				AAD+////AQAAAAAAAAAOAAAABBAAAEAAAAAAAAAABRAA
				AHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAA
				AiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAA
				AAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQA
				AAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAA
				AAQAAAAAAAAAVAEAgEwBAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.cron.electron</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Notion%20Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notion Calendar</string>
				<key>file-mod-date</key>
				<integer>3842624969</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>273786539507919</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1842302139</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va4ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAATm90aW9uLmFwcAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAhNHaDwAAAAAIAAAABAMAAJ3qLhAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcd5L1CA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHWNHA
				AAAAJAAAAAEBAAAwNTc3RTUxRS0yRTQyLTRDMDMtQTFD
				RC1GRUM4MDM1OTJFRUMYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				LwAAAAEBAABOU1VSTEJvb2ttYXJrUXVhcmFudGluZU1v
				dW50ZWROZXR3b3JrVm9sdW1lc0tleQC0AAAA/v///wEA
				AAAAAAAADgAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAA
				ABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAA
				AAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADs
				AAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAg
				AAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAA
				AEwBAIBEAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>notion.id</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Notion.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notion</string>
				<key>file-mod-date</key>
				<integer>3848787873</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>6184307154023</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2967470887</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawgDAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPQB
				AAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAACgAA
				AAEBAABhbGV4bWlsbGVyAAAMAAAAAQEAAEFwcGxpY2F0
				aW9ucxUAAAABAQAAQ2hyb21lIEFwcHMubG9jYWxpemVk
				AAAACgAAAAEBAABHZW1pbmkuYXBwAAAUAAAAAQYAABAA
				AAAgAAAANAAAAEgAAABoAAAACAAAAAQDAADLOAAAAAAA
				AAgAAAAEAwAARvsDAAAAAAAIAAAABAMAACV5BQAAAAAA
				CAAAAAQDAACYaHwAAAAAAAgAAAAEAwAAnSd7DgAAAAAU
				AAAAAQYAAJgAAACoAAAAuAAAAMgAAADYAAAACAAAAAAE
				AABBxz1626nq/xgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA
				9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH
				WNHAAAAAJAAAAAEBAAAwNTc3RTUxRS0yRTQyLTRDMDMt
				QTFDRC1GRUM4MDM1OTJFRUMYAAAAAQIAAIEAAAABAAAA
				7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
				BQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAfAAAAAAA
				AAAFEAAA6AAAAAAAAAAQEAAAFAEAAAAAAABAEAAABAEA
				AAAAAAACIAAA4AEAAAAAAAAFIAAAUAEAAAAAAAAQIAAA
				YAEAAAAAAAARIAAAlAEAAAAAAAASIAAAdAEAAAAAAAAT
				IAAAhAEAAAAAAAAgIAAAwAEAAAAAAAAwIAAA7AEAAAAA
				AAABwAAANAEAAAAAAAARwAAAIAAAAAAAAAASwAAARAEA
				AAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome.app.gdfaincndogidkdcdkhapmbffkckdkhn</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/alexmiller/Applications/Chrome%20Apps.localized/Gemini.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Gemini</string>
				<key>file-mod-date</key>
				<integer>92208198872759</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>95815977931390</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>696928019</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAE5vdGVzLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAALo3
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHWNHAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AAAwNTc3RTUxRS0yRTQyLTRDMDMtQTFDRC1GRUM4MDM1
				OTJFRUMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Notes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Notes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notes</string>
				<key>file-mod-date</key>
				<integer>3844545664</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844545664</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2452187642</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawwDAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPgB
				AAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAACgAA
				AAEBAABhbGV4bWlsbGVyAAAMAAAAAQEAAEFwcGxpY2F0
				aW9ucxUAAAABAQAAQ2hyb21lIEFwcHMubG9jYWxpemVk
				AAAADwAAAAEBAABHb29nbGUgTWFwcy5hcHAAFAAAAAEG
				AAAQAAAAIAAAADQAAABIAAAAaAAAAAgAAAAEAwAAyzgA
				AAAAAAAIAAAABAMAAEb7AwAAAAAACAAAAAQDAAAleQUA
				AAAAAAgAAAAEAwAAmGh8AAAAAAAIAAAABAMAAOkoew4A
				AAAAFAAAAAEGAACcAAAArAAAALwAAADMAAAA3AAAAAgA
				AAAABAAAQcc9etwGwh0YAAAAAQIAAAIAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAA
				AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAE
				AABBx1jRwAAAACQAAAABAQAAMDU3N0U1MUUtMkU0Mi00
				QzAzLUExQ0QtRkVDODAzNTkyRUVDGAAAAAECAACBAAAA
				AQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
				AAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIAA
				AAAAAAAABRAAAOwAAAAAAAAAEBAAABgBAAAAAAAAQBAA
				AAgBAAAAAAAAAiAAAOQBAAAAAAAABSAAAFQBAAAAAAAA
				ECAAAGQBAAAAAAAAESAAAJgBAAAAAAAAEiAAAHgBAAAA
				AAAAEyAAAIgBAAAAAAAAICAAAMQBAAAAAAAAMCAAAPAB
				AAAAAAAAAcAAADgBAAAAAAAAEcAAACAAAAAAAAAAEsAA
				AEgBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome.app.mnhkaebcjjhencmpkapnbdaogjamfbcj</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/alexmiller/Applications/Chrome%20Apps.localized/Google%20Maps.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Maps</string>
				<key>file-mod-date</key>
				<integer>155962693907738</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>95815977931390</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array/>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>US</string>
	<key>show-process-indicators</key>
	<false/>
	<key>show-recents</key>
	<false/>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<real>67</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>0</integer>
	<key>wvous-tr-corner</key>
	<integer>1</integer>
	<key>wvous-tr-modifier</key>
	<integer>0</integer>
</dict>
</plist>
