<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2025-12-22T14:57:18Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>242344445</integer>
	<key>activationKeyType</key>
	<integer>1</integer>
	<key>enableMacosShortcuts</key>
	<false/>
	<key>enableMyShortcuts</key>
	<false/>
	<key>launchAtLogin</key>
	<true/>
	<key>showBookmarks</key>
	<false/>
	<key>showInactiveMenu</key>
	<true/>
	<key>showUserHiddenElements</key>
	<false/>
	<key>wizardDone</key>
	<true/>
</dict>
</plist>
