<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.alexmiller.blueprint.zsh</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>{{ROOT}}/modules/zsh/dump.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
      <string>/Users/alexmiller/.zshrc</string>
      <string>/Users/alexmiller/.aliases</string>
    </array>
    <key>ThrottleInterval</key>
    <integer>10</integer>
  </dict>
</plist>