<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleTextDirection</key>
	<true/>
	<key>NSForceRightToLeftWritingDirection</key>
	<false/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9vawADAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAMgBAAAEAAAAAwMAAAAEAAAFAAAAAQEAAFVzZXJzAAAACgAAAAEB
	AABhbGV4bWlsbGVyAAAJAAAAAQEAAERvY3VtZW50cwAAAAwAAAABBgAAEAAAACAAAAA0
	AAAACAAAAAQDAADLOAAAAAAAAAgAAAAEAwAARvsDAAAAAAAIAAAABAMAAMtAmQkAAAAA
	DAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHBrB20gAAAGAAAAAECAAACAAAAAAAA
	AB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtz
	AAAACAAAAAAEAABBx1jRwAAAACQAAAABAQAAMDU3N0U1MUUtMkU0Mi00QzAzLUExQ0Qt
	RkVDODAzNTkyRUVDGAAAAAECAACBAAAAAQAAAO8TAAABAAAA7xMAAAEAAAABAAAAAQEA
	AC8AAAAwAAAAAQIAAGRuaWIAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHNj
	b2QCAAAAAAAAAPAAAAD+////AQAAAAAAAAATAAAABBAAAEgAAAAAAAAABRAAAIwAAAAA
	AAAAEBAAALAAAAAAAAAAQBAAAKAAAAAAAAAAAiAAAIQBAAAAAAAABSAAAPQAAAAAAAAA
	ECAAAAQBAAAAAAAAESAAADgBAAAAAAAAEiAAABgBAAAAAAAAEyAAACgBAAAAAAAAICAA
	AGQBAAAAAAAAMCAAANAAAAAAAAAAAcAAANgAAAAAAAAAEcAAACAAAAAAAAAAEsAAAOgA
	AAAAAAAAAdAAANAAAAAAAAAAENAAAAQAAAAAAAAAF/AAADQAAAAAAAAAIvAAAJABAAAA
	AAAA
	</data>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Hide Sidebar</key>
		<string>@\</string>
		<key>Search</key>
		<string>@k</string>
		<key>Show Sidebar</key>
		<string>@\</string>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>651 238 819 448 0 0 1470 924 </string>
</dict>
</plist>
