<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.alexmiller.blueprint.chrome</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>{{ROOT}}/modules/chrome/dump.py</string>
    </array>
    <key>WatchPaths</key>
    <array>
      <string>/Users/alexmiller/Library/Application Support/Google/Chrome</string>
    </array>
    <key>ThrottleInterval</key>
    <integer>300</integer>
    <key>StandardOutPath</key>
    <string>/tmp/chrome_blueprint.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/chrome_blueprint_err.log</string>
  </dict>
</plist>