<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>~/Documents</string>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>463</real>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>520 570 430 195 0 0 1470 924 </string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>footprintAnimationDurationMultiplier</key>
	<real>0.0</real>
	<key>hideMenubarIcon</key>
	<false/>
	<key>landscapeSnapAreas</key>
	<string>[7,{"compound":-4},6,{"action":13},5,{"compound":-3},4,{"compound":-2},8,{"action":14},2,{"action":2},3,{"action":16},1,{"action":15}]</string>
	<key>lastVersion</key>
	<string>76</string>
	<key>launchOnLogin</key>
	<false/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>todo</key>
	<integer>2</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topHalf</key>
	<dict/>
</dict>
</plist>
