<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.alexmiller.blueprint.ghostty</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>{{ROOT}}/modules/ghostty/dump.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
      <string>/Users/alexmiller/Library/Application Support/com.mitchellh.ghostty/config</string>
    </array>
  </dict>
</plist>